- if @prototype.like_user(current_user)
  #dislike-button{"data-button-id": "#{prototype.id}", "data-likebutton-id": "#{@like.id}"}
    = image_tag("icon_heart_red.svg")
  .like-count
    = @likes_count
-else
  #like-button{"data-button-id": "#{prototype.id}"}
    = image_tag("icon_heart.svg")
  .like-count
    = @likes_count
